*,
:after,
:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

:root {
    --clr-black: rgb(39, 39, 39);
    --clr-white: rgb(235, 235, 235);
    --clr-gray-200: rgb(245, 245, 245);

    --font-family: 'Monserrat', sans-serif;
    --font-size: 1rem;
    --border: 1px solid #dfe1e3;
    --border-radius: 1rem;
}

html {
    box-sizing: border-box;
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--clr-black);
    line-height: 1.6;
}

.content {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 3%;
}

.scroll-padding {
    padding-top: 3rem;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {   
    width: 100vw;
    background-color: var(--clr-black); 
    position: absolute;
    font-size: .8rem;  
}

.nav__content {
    padding: 1rem 1%;
    background-color:inherit;
    color: var(--clr-white);
    display: flex;
    align-items: center;  
}


ul {
    list-style: none;
    margin-right: 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    margin: 0 .3rem;
    text-transform: uppercase;
    font-weight: 600;
    /* font-size: 1rem; */

}

nav li:hover {
    border-bottom: 2px solid var(--clr-white);
}

#logo {
    margin-right: auto;
    border: none;
    position: relative;
    left: 1rem;
    font-weight: 800;
    font-size: 1.2rem;}

#banner {  
    height: 100vh;
    color: var(--clr-white);
    background-image: url(../images/banner-v.jpg);
    background-position: center;
    background-size: cover;
    letter-spacing: 0.4rem;
    display: grid;
    place-items: center;
}

#banner-text {  
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
}

#banner-text-main {
    display: block;
    margin: 0;
    letter-spacing: 0.2rem;
    line-height: 1.2;
    font-size: clamp(1rem, 12vw, 10vh);
}

.banner-text-sub {
    display: block;
    padding-top: 1.5rem;
    font-size: 1rem;
}

.scroll-icon {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    /* padding-top: 10%; */
    width: 2rem;
}

main {
    letter-spacing: 0.1rem;
    line-height: 1.6rem;
}

#why-title,
#how-title,
#where-title,
#who-title {
    padding: 1.5rem;
    color: var(--clr-white);
    background-color: var(--clr-black);
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

#why-title {
    padding: 1.5rem;
}

#why-content {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

#how-content {
    margin-top: 3rem;
    /* padding: 0 2rem; */
   
}

#how-content p {
    padding: 1rem 0;
}

.card {
    margin: 0.5rem;
    padding: 1rem;
    border: var(--border);
}

.why-card-title {
    margin-bottom: 0.5rem;
    width: fit-content;
    font-weight: bold;
    border-bottom: 1px solid var(--clr-black);
}

.card p {
    text-align: left;
}

#where-content {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.where-card {
    width: 90%;
    border: var(--border);
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.where-card p {
    margin: 1rem 0;
    text-align: center;
}

.where-card a {
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: 0.2rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;

}

.where-card:hover a {
    border: 2px solid var(--clr-black);
}

.where-card img {
    width: clamp(50px, 30vw, 80px);
    object-fit: fill;
    border-radius: 50%;
}

#testimonial-content {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;

}

.testimonial-card {
    display: flex;
    flex-direction: column;
    border: var(--border);
    align-items: center;
    padding: 1rem;
}

.testimonial-card img {
    max-width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-card h3 {
    margin-top: .5rem;
}
.testimonial-star img {
    margin: .5rem 0.1rem;
    width: 20px;
    object-fit: cover;
}

.testimonial-card blockquote {
    margin: 0.5em;
    margin-bottom: auto;
    padding: 1rem 1.5rem;
    background-color: var(--clr-gray-200);
    border-radius: var(--border-radius);
}

footer {
    background-color: var(--clr-black);
    color: var(--clr-white);
    font-weight: 600;
    padding: 1rem;
    font-size: .8rem;
}

footer ul {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer li {
    padding: 0 1rem;
}

footer li img {
    width: clamp(20px, 5vw, 40px);
    object-fit: cover;
}

.footer-text, .footer-credit {
    width: 80%;
    margin: 0 auto;
    padding: .8rem 0;
    text-align: center;
}

.footer-credit {
    padding: 0;
    color: grey;
}

.footer-credit a {
    color: #33ABDC;
}

@media only screen and (orientation: landscape) {
    #banner {
        background-image: url(../images/banner-h.jpg);
    }
}

@media only screen and (min-width: 400px) {
    nav {
        font-size: 1rem;
    }

    nav li {
        margin: 0 .7rem;
    }

    .banner-text-sub {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 640px) {
    body {
        --font-size: 1rem;
    }

    #why-content {

        grid-template-columns: 1fr 1fr;

    }

    #where-content {
        grid-template-columns: 1fr 1fr;
    }

}

@media only screen and (min-width: 800px) {
    #testimonial-content {

        grid-template-columns: 1fr 1fr;

    }

}
